# Modules
# ───────────────────────────────────────────────────────
node_modules/

# Lock files
# ───────────────────────────────────────────────────────
pnpm-lock.yaml

# Assets
# ───────────────────────────────────────────────────────
public/assets
public/sprite.twig
stats.html