# Modules
# ───────────────────────────────────────────────────────
node_modules/

# Lock files
# ───────────────────────────────────────────────────────
pnpm-lock.yaml

# Assets
# ───────────────────────────────────────────────────────
public/assets
public/sprite.twig
stats.html
sources/fonts/*
!sources/fonts/.keep
sources/assets/fonts/*
!sources/assets/fonts/.keep